@import 'config';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	font-family: 'Raleway', sans-serif;
}

// TAGS
h1{
	font-family: 'CardCaracters', sans-serif;
	font-size: 35px;
	background: white;
	
}

h2{

}

h3{

}
// LAYOUT

.limpa-float{
	clear: both;
}

#page{
	width: 100%;
	height: 100%;
	display: table;
}

.wrapper{
	width: 961px;
	margin: auto;
}
.border-wrapper{
	width: 1002px;
	margin: auto;
}

.site-content{
	height:100%;
}

.content{
	background: white;
	display: table;
}

header{
	display: table;
	.content-header{
		background: white;
		display:table;
		float: left;
    padding: 0 0 20px 0;
	}

	.background-menu-cont{
		background: transparent;
		width: 20px;
		margin: 24px 0;
		height: 62px;
		float: left;
		.border-background{
			background: #124A71;
			display: block;
			width: 20px;
			height: 40px;
		}
		.border-out-graph-left{
			width: 0px;
			height: 0px;
			display:block;
			border-top: 20px solid transparent;
			border-right: 20px solid #062e3f;
			border-left: 0px solid transparent;
		}

		.border-out-graph-right{
			width: 0px;
			height: 0px;
			display:block;
			border-top: 20px solid transparent;
			border-left: 20px solid #062e3f;
			border-right: 0px solid transparent;
		}
	}
	.main-navigation{
		display: table;
		background: #124A71;
		width: 414px;
		margin: 42px 0;
		height: 42px;
		float: left;
		ul{
			display: table;
      margin: 0 auto;
      position: relative;
			li{
				float: left;
				padding: 10px 13px;
				a{
					font-size: 11px;
					font-weight: bold;
					color: white;
					text-decoration: none;
          &:hover, {
            color: #FFD31C;
          }
				}
        &.current-menu-item{
          a{
            color: #FFD31C;
          }
        }
        .sub-menu{
          position:absolute;
          width: 150px;
          z-index: 3;
          text-align: center;
          margin: 2px 0 0 -10px;
          display: none;
          li{
            background: rgba(252,199,61,0.8);
            display: block;
            padding: 5px;
            width: 100%;
            margin: 0 0px 3px 0px;
            a{
              &:hover{
                color: #00923F;
              }
            }
          }
          &:before{
            content: "";
            background: transparent;
            margin: 0 0px 0 10px;
            float: left;
            border-bottom: 13px rgba(252,199,61,0.8) solid;
            border-left: 13px transparent solid;
            border-right: 13px transparent solid;
            width: 0;
            height: 0;
          }
        }
        &:hover{
          .sub-menu{
            display: block;
          }
        }
      }

		}
	}

	.logo{
		float: left;
		width: 133.84px;
		display: table;
		background: url(@template_path + 'images/background-logo.svg') no-repeat center center;
		text-align: center;
		img{
			margin: auto;
			text-align: center;
		}
	}
}

.slider-home{ 
	.slider-container{
		width: 1200px;
		margin: auto;
		height: 411px;
		background: white;
    overflow: hidden;
		.slider-image{
			width: 1200px;
			height: 411px; 
			overflow: hidden;
			h1{			
				z-index: 2;
				position: relative;
				float: right;
				margin: 30px;
        max-width: 310px;
        display: inline;
        padding: 10px;
			}
			img{
				width: 100%;
				transform: translateY(-50%);
				height: auto;
			}

		}
	}
	.paginacao{
		background: white;
		ul{
			margin: auto;
			display: table;
			.swiper-pagination-switch{
				height: 15px;
				width: 15px;
				background: #E8E8E8;
				display: inline-block;
				margin: 10px;
				border-radius: 50%;
				cursor: pointer;
			}
			.swiper-active-switch, 
      .swiper-visible-switch{
				background: #124A71;
				
			}
		}
	}
}

.destaque-item{
	h4{
		text-align: center;
		text-transform: uppercase;
		color: #1B6B37
	}
	> img{
		width: 100%;
		height: auto;
	}
	> div{ 
		.destaque-content{
			padding: 12px 10%;
      text-align: center;
      background: #124A71;
      width: 80%;
      margin: auto;
      p{
        color: #fff;
        font-weight: normal;
        font-size: 14px;
      } 
			a{
				color: #FCC73D;
				text-transform: uppercase;
			}
		}
	}
}

.blue-arrow-down{ 
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-top: 20px solid #124a71;
	margin: auto;
}
.forum-home{
	position: relative;
	margin: 0 57px 0 0;
	> img{
		float: right;
		position: absolute;
		margin: 7px 0 -10px 0;
		right: 0;
	}
	> div{
		background: #1B6B37;
		margin: 20px 0 0;
    padding: 15px 20px 40px;
	}
  h4{
    color: white;
    text-align: center;
    font-weight: bold; 
  }
  ul{ 
    color: white;
    font-size: 12px;
    font-weight: bold;
    list-style-image: url(@template_path + 'images/estrela.png');
    list-style-position: inside;
    li{
      margin: 0 0 5px 0;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}

.newsletter-home{
	background: #124A71;
  margin: 20px 0 0 0px;
  padding: 15px 18px;
  h4{
    color: white;
    text-align: center;
    font-weight: bold; 
    margin: 0;
  }
}

footer{
	background: #124A71;
	display: table;
	width: 100%;
	height: 78px;
	> div{
		.copyright{
			color: white;
      font-size: 10px;
      margin: 50px 0 0 0;
		}
		.menu-footer{
      margin: 30px 0 0;
      li{
        float: left; 
        color: #FFD112;
        font-size: 11px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        &::after{
          padding: 0 10px;
          content: "|";
        }
        a{  
          color: inherit; 
        }  
      }
		}
	}	
}
.anuncio{
  > div{
    background: #FFD217;
    text-align: center; 
    padding: 35px;
    margin: 20px 0 0;  
  }
  
}

.linha{
  margin: 0 10px 0 0;
  display: table;
  width: 100%;
}

label, input[type=text],
input[type=email],
textarea{
  width: 100%;
}
label{
  padding: 0;
  color: white;
  font-size: 12px;
  height: 15px;
}

input[type=button], 
input[type=submit]{
  float: right;
  margin: 17px 0 0;
  text-transform: uppercase;
  background: #1B6B37;
  border: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 11px;
}

.button-link-to{
  background: #124A71 url(@template_path + 'images/btn-arrow.png') right center; 
  float: right;
  margin: 10px 0 0;
  text-transform: uppercase; 
  border: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 11px;
}

.widget-area{
  .col-sm-7, .col-sm-3, .col-sm-4{
    width: 100%;
    float: none;
    margin: 30px 0;
    display: table;
  }
  .forum-home{
    padding: 0; 
    img{
      margin: 0px 0 -10px 0;  
    }
  }
}

.content-page{
  background: white;
  display: table;
  .icon-page{
    float: left;
    margin: 0 10px 0 0;
  }
}

h3{
  color: #124A71;
  text-transform: lowercase;
}
p{
  font-size: 11px;
  color: #000;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

hr{
  background: #124A71;
  border-color: #124A71;
}
.content-page{
  .item-list{
    img{
      float: left;
      margin: 0 10px 10px 0;
    }
    h4{ 
      color: #1B6B37;
      text-transform: uppercase;
      margin: 0; 
      font-weight: bold;
      a{
        color: inherit;
      }
    } 
    h6{
      margin: 0;
      color: #fff;
      background: #1B6B37;
      display: inline-block;
      margin: 0 0 10px 0;
      padding: 2px 5px;
      font-size: 12px;
    } 
  }
    
}

a{
  color: #124A71;
  &:hover{
    color: #FFD31C;
  }
}

.list-pages{ 
  width: auto;
  display: table;
  margin: 10px auto;
  a, span{
    padding: 0 5px;
    margin: 0 5px;
    border: 2px solid #FCC73D;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.child-page{
  border: 1px solid #124A71;
  text-align: center;
  padding-bottom: 20px; 
  margin-top: 35px;
  img{
    margin: -35px 0 0 0;
  } 
}
.center{
  margin: auto;
  float: none;
}

.casa-aposta{ 
  background: rgba(18,74,113, 0.55);
  display: table;
  width: 100%;
  padding: 20px 0;
  margin: 0 0 20px;
  .moldura{
    width: 110px;
    height: 110px;
    overflow: hidden;
    border: 2px solid #124A71;
    margin: auto;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: white;
    img{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }     
  }
  h4{
    font-size: 18px;
    color: #FFD31C;
    border-bottom: 1px solid #124A71;
    padding: 0 0 5px 0;
    font-family: 'card_characters', sans-serif;
  }
  span{
    width: 100%;
    display: block;
    font-size: 12px;
    color: #000000;
    margin: 0 0 5px;
    .estrelas-classificacao{
      background: url(@template_path + 'images/estrela-classificacao.png');
      display: table;
      height: 15px;
      display: inline-block;
    }
  }
  .center{
    margin: 13px auto 0;
    display: table;
  }
}

.card-font{
  font-family: 'card_characters', sans-serif;
}
.wpcf7-form-control-wrap{
  position: static;
  display: inline-block;
  width: 85%;
  input, textarea{
    background: rgba(18,14,113, 0.2);
    border: 0;
    padding: 5px 10px;
  }
}
.group-contato-field{
  margin: 0 0 20px 0;
}
.label-contato{
  font-weight: bold;
  font-size: 12px;
  position: static;
  display: inline-block;
  width: 15%; 
  float: left;
}
.bbp-search-form{
  input[type='submit']{
    margin: 0 0 0 10px;
  }
}

.forum{
  #subscription-toggle{
    display: none;
  }
}